logs
target
backup
.bloop/
.metals/
.vscode/
project/
/.g8
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
conf/application.conf
conf/blog-backup.md
conf/local.md
/RUNNING_PID
run.sh
run.ps1
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
