@()
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/pride.css")">
<a href="@com.timlah.controllers.routes.HomeController.pride()" aria-label="Pride Content">
    <div class="pride-container">
        <div class="seg-1"></div>
        <div class="seg-2"></div>
        <div class="seg-3"></div>
        <div class="seg-4"></div>
        <div class="seg-5"></div>
        <div class="seg-6"></div>
        <div class="progress-container">
            <div class="progress-inner">
                <div class="progress-seg-1">
                    <div class="progress-seg-2">
                        <div class="progress-seg-3">
                            <div class="progress-seg-4">
                                <div class="progress-seg-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
<div class="pride-message">Happy pride &lt;3</div>