main > .container {
    padding: 60px 15px 0;
}

.nav-link {
    color: #ff0000;
}

.footer{
    text-align: center;
}

.nav-link:hover {
    color: #9f0000;
    text-decoration: underline;
}

.accordion-body {
    background-color: rgba(0,0,0,0.95);
}

.accordion-button:not(.collapsed) {
    background-color: #3f0000;
    color: #fff;
}
@keyframes zoom-left {
    0%      {color: orange;     margin-left:-200px; }
    100%    {color: white;      margin-left:1em;    }
}

.index-large {
    margin-left: 1em;
    animation-name: zoom-left;
    animation-duration: 3s;
}

.index-medium {
    margin-left: 2em;
}

.index-paragraph {
    margin-top: 2em;
}

.accordion-button {
    background-color: #3f0000;
    color: #fff;
}

.content {
    margin-top: 10%;
}

.socials {
    float:right;
}
.socials a {
    text-decoration: none;
}
.flashed-messages {
    height: 20px;
}
#flash-success {
    border-radius: 1em;
    text-align: center;
}

dt label {
    margin-top: 1em;
}

.success {
    width: 100%;
    margin-top: 2em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}