@media (min-width: 360px) {
  body {
    font-size: 1.0em;
  }
}

main > .container {
    padding: 60px 15px 0;
}

.nav-link {
    color: orange;
    font-size: 20px;
}

.footer{
    text-align: center;
}

.nav-link:hover {
    color: #9f0000;
    text-decoration: underline;
}

.accordion-body {
    background-color: rgba(0,0,0,0.95);
}

.accordion-button {
    background-color: #3f0000;
    color: #fff;
    font-size: 24px;
}

.accordion-button:not(.collapsed) {
    background-color: #3f0000;
    color: #fff;
    font-size: 24px;
}
@keyframes zoom-left {
    0%      {color: orange;     margin-left:-200px; }
    100%    {color: white;      margin-left:1em;    }
}

.index-large {
    margin-left: 1em;
    animation-name: zoom-left;
    animation-duration: 3s;
}

.index-medium {
    margin-left: 2em;
}

.index-paragraph {
    margin-top: 2em;
}

.content {
    margin-top: 10%;
    margin-bottom: 10%;
}

.socials {
    float:right;
}
.socials a {
    text-decoration: none;
}
.flashed-messages {
    height: 20px;
}
#flash-success {
    border-radius: 1em;
    text-align: center;
}

dt label {
    margin-top: 1em;
}

.success {
    width: 100%;
    margin-top: 2em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.scala {
    color: #B3B3B3;
}

.borderless {
    border: 0;
}

.blog-list-header {
    color: orange;
    font-size: 24px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.custom-popover {
    --bs-popover-bg: rgba(0, 0, 0, 0.9);
    --bs-popover-header-bg: #3f0000;
    --bs-popover-body-color: #000000f2;
    --popover-header-bg:                 shade-color(#000000f2, 6%);
}

.gravatar-hovercard {
    display: inline-block;
}

.gravatar-hovercard img {
   border-radius: 25%;
}
