@media (min-width: 360px) {
  body {
    font-size: 1.0em;
  }
}

main > .container {
    padding: 60px 15px 0;
}

@keyframes bgpan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }    
}

.bg-dark {
    --bs-bg-opacity: 0.95 !important;
}

body {
    background-image: url("/assets/images/halloween-background128.png");
    animation: bgpan 180s linear infinite;
}

.navbar {
    border-color: black;
    border-style: solid;
}

.nav-link {
    color: orange;
    font-size: 20px;
}

.footer{
    background-color: rgba(0,0,0,0.95);
    color: #ffffff;
    text-align: center;
    padding-top:1.5rem!important;
}

.nav-link:hover {
    color: #9f0000;
    text-decoration: underline;
}

.accordion-body {
    background-color: rgba(0,0,0,0.95);
}

.accordion-button {
    background-color: #3f0000;
    color: #fff;
    font-size: 24px;
}

.accordion-button:not(.collapsed) {
    background-color: #3f0000;
    color: #fff;
    font-size: 24px;
}
@keyframes zoom-left {
    0%      {color: orange;     margin-left:-200px; }
    100%    {color: white;      margin-left:1em;    }
}

pre code {
    border-radius: 10px;
}

.hljs {
    background-color: #B3B3B3;
}

.hljs:hover {
    background-color: #B6B6B6;
}

.dev-status {
    color: red;
}

.index-large {
    margin-left: 1em;
    animation-name: zoom-left;
    animation-duration: 3s;
}

.index-medium {
    margin-left: 2em;
}

.index-paragraph {
    margin-top: 2em;
}

.content {
    background-color: rgba(33,37,41,0.95); /* #212529 */
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    padding: 1.5em;
    border-radius: 0.25em;
    border-color: black;
    border-style: solid;
}

.socials {
    float:right;
}
.socials a {
    text-decoration: none;
}
.flashed-messages {
    height: 20px;
}
#flash-success {
    border-radius: 1em;
    text-align: center;
}

dt label {
    margin-top: 1em;
}

.success {
    width: 100%;
    margin-top: 2em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.scala {
    color: #B3B3B3;
}

.borderless {
    border: 0;
}

.blog-list-header {
    color: orange;
    font-size: 24px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.custom-popover {
    --bs-popover-bg: rgba(0, 0, 0, 0.9);
    --bs-popover-header-bg: #3f0000;
    --bs-popover-body-color: #000000f2;
    --popover-header-bg:                 shade-color(#000000f2, 6%);
}

.text-faded {
    color: #AAAAAA;
}

.gravatar-hovercard {
    display: inline-block;
}

.gravatar-hovercard img {
   border-radius: 25%;
}

/* Responsive menu */

  .nav .menuIcon {
    float:right;
    display: none;
  }

img {
    max-width: 100%;
}
  
  @media screen and (width > 700px) {
    .nav a                      { display: block;   }
    .menuIcon                   { display: none;    }
    .kofi-small                 { display: none;    }
  }

  @media screen and (max-width: 700px) {
    .nav                        { display: none;    }
    .nav a.menuIcon             { display: block;   }
  }
  
  @media screen and (max-width: 700px) {
    .nav.responsive { z-index: 99999999!important; position: relative;}
    .nav.responsive .menuIcon {
        display: block;
    }
    .nav.responsive {
      float: none;
      display: block;
      text-align: left;
    }
    .content img {
        width:100%;
    }
    .kofi-small                 { display: inline-block; width: 25%;    }
    div[id^="kofi-widget-overlay"]   { display: none;     }
  }

  #cookieBar {
    z-index: 9999999!important;
    bottom: 0;
    height: 10%;
    width: 100%;
  }
