.netbitpetBasePanel {
    float: right;
    color:gray;
    border: 2px solid;
    border-right: 0px;
    border-bottom: 0px;  
    border-radius: 5%;  
    width: 25%;
}

.netbitpetBasePanelHidden {
    display: none;
}

.nbpDisplayToggle {
    float: right;
    color:gray;
    background-color:rgba(0,0,0,0);
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 5px;
    writing-mode: vertical-rl;
    width: 50px;
    height: 100px;
}

.nbpDisplayToggle:hover {
    color: black;
    background-color:rgba(180, 154, 28, 0.8);
}
