
.pride-container {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease;
}
.pride-container:hover {
    transform: scale(1.5);
}
.seg-1, .seg-2, .seg-3, .seg-4, .seg-5, .seg-6 {
    width: 70px;
    height: 5px;
}
.seg-1 {
    background: #e50000;
    border-top-right-radius: 5px;
}
.seg-2 {
    background: #ff8d00;
}
.seg-3 {
    background: #ffee00;
}
.seg-4 {
    background: #028121;
}
.seg-5 {
    background: #004cff;
}
.seg-6 {
    background: #760088;
    border-bottom-right-radius: 5px;
}
.pride-message {
    display: none;
}
.pride-container:hover + .pride-message {
    display: inline;
}
.progress-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    z-index: 1;
}

.progress-inner {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 70px;
    height: 70px;
}

.progress-inner div {
    padding: 5px;
}
.progress-seg-1 {
    background-color: #000000;
}
.progress-seg-2 {
    background-color: #613915;
}
.progress-seg-3 {
    background-color: #74D7EE;
}
.progress-seg-4 {
    background-color: #FFAFC8;
}
.progress-seg-5 {
    background-color: #FFFFFF;
}