.wordup-word {
    display:flex; 
    align-items: flex-start;
}
.wordup-character {
    height: 64px;
    width: 64px;
    font-size: xx-large;
    border-radius: 10%;
    margin: 0.5%;
    flex: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black;
    font-weight: bolder;;
}

.wordup-char-green { 
    background-color: green;
}
.wordup-char-grey { 
    background-color: grey;
}
.wordup-char-yellow { 
    background-color: yellow;
}
.success-animation {
    width: 0;
    height: 0;
    margin-left:25%;
    margin-top:15%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
    position: relative;
    animation: spin 2s linear infinite;
}
.success-animation:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
    position: absolute;
    top: -75px;
    left: -50px;
}
.winning-message {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}