@()

@main("About | Timlah's Techs", None) {
<div class="content">
    <h1>Passionate about creative software</h1>
    <p> As an Infrastructure Engineer, I am constantly learning and applying my craft.
    Here are some of the skills I have picked up along the way: </p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Technology</th>
                <th scope="col">Associated Skills/Libraries</th>
                <th scope="col">Other Notes</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>DevOps</td>
            <td>CI/CD Tools (AWS Codebuild, AWS CodePipeline, GitHub, Jenkins), Git, Terraform</td>
            <td>I'm well versed in many DevOps approaches and Command Line Interface (CLI) tools</td>
        </tr>
        <tr>
            <td>Game Development</td>
            <td>Blender: 3D Animation, Materials, Modelling and Textures. <br>Unity: C#, Game Deployments, Editor, Inspector Tooling and much more</td>
            <td>You can find my games and prototypes on the
                <a href="@com.timlah.controllers.routes.HomeController.projects()">Projects page</a></td>
        </tr>
        <tr>
            <td>Logging and Metrics</td>
            <td>ELK Stack (Elasticsearch, Logstash, Kibana), Grafana, Clickhouse, CarbonAPI, AWS Cloudwatch</td>
            <td>I have worked closely with these technologies as part of my role as an Infrastructure Engineer</td>
        </tr>
        <tr>
            <td>Operating Systems</td>
            <td>Linux (Ubuntu), Windows 10, Windows 11</td>
            <td>In my day job I use Ubuntu 20.04LTS. For game development, I use a Windows 10 machine.</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>boto3, flask, pytest and many more frameworks</td>
            <td>I wrote a Hiragana to Romaji matching game called <a href="https://www.matchagana.com">Matchagana</a> in Python, I work with Python daily</td>
        </tr>
        <tr>
            <td>Scala</td>
            <td>Akka, Mockito, Play Framework, Zio</td>
            <td>This website is written in Scala using the Play Framework</td>
        </tr>
        <tr>
            <td>Web Development</td>
            <td>HTML5, CSS, SCSS, JavaScript, jQuery, Play Framework, Flask</td>
            <td>I am comfortable with backend and frontend development</td>
        </tr>
        </tbody>
    </table>
</div>
}