@()

@main("Timlah's Techs | About") {
<div class="content">
    <h1>Passionate about creative software</h1>
    <p> As an Infrastructure Engineer, I am constantly learning and applying my craft.
    Here are some of the skills I have picked up along the way: </p>
    <ul>
        <li>Software Development</li>
        <ul>
            <li>Scala</li>
            <li>Play Framework</li>
            <li>Python</li>
            <li>Flask</li>
        </ul>
        <li>Web Development</li>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
        <li>DevOps</li>
        <ul>
            <li>AWS</li>
            <li>Infrastructure as Code (e.g Terraform)</li>
            <li>Source Control (Git)</li>
            <li>Build tools (Jenkins)</li>
        </ul>
        <li>Unity Game Development</li>
        <ul>
            <li>C# scripts</li>
            <li>Scene design</li>
            <li>UI</li>
        </ul>
    </ul>
</div>
}