@import com.timlah.models.BlogPost
@import scala.util.matching.Regex
@import com.timlah.components.html.hovercard
@import com.timlah.services.GravatarProfileService
@import scala.concurrent.ExecutionContext
@(latest: BlogPost, blogContent: String, metaTags: Option[Html])(implicit flash: Flash, ec: ExecutionContext)

@main("@latest.title | Timlah's Techs", metaTags) {
    <div class="content">
        <h1>@latest.title</h1>
        <span style="display:inline-block;">
            @hovercard("timlah@timlah.com")
            Written by: <strong>@latest.author.username</strong> | Written on: @latest.date.day @latest.date.monthStr @latest.date.year | Estimated reading time:
            @if(Math.ceil("\\s".r.findAllIn(blogContent).length/200).toInt < 1) {
                less than a minute
            }else if(Math.ceil("\\s".r.findAllIn(blogContent).length/200).toInt == 1){
                1 minute
            }else{
                @Math.ceil("\\s".r.findAllIn(blogContent).length/200).toInt minutes
            }
        </span>
        <hr>        
        <p>@Html(blogContent)</p>
    </div>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = @com.timlah.controllers.routes.HomeController.blogBySlug(latest.slug);
        this.page.identifier = @com.timlah.controllers.routes.HomeController.blogBySlug(latest.slug);
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://timlah.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
}