@import com.timlah.models.BlogPost
@import com.timlah.services.MarkupService
@import scala.util.matching.Regex
@(blogPosts: Seq[BlogPost], blogCount: Int, markupService: MarkupService)(implicit flash: Flash)

@main("Blog | Timlah's Techs", None) {
    <div class="content">
        <p class="text-muted">Blog Posts found: @blogCount</p>
        @blogPosts.reverse.zipWithIndex.map{case (post, i) =>
            <h1><a class="blog-list-header" href="@com.timlah.controllers.routes.HomeController.blogBySlug(post.slug)">@post.title</a></h1>
            Written by: <strong>@post.author.username</strong> | Written on: @post.date.day @post.date.monthStr @post.date.year | Estimated reading time:
        @if(Math.ceil("\\s".r.findAllIn(post.content).length/200).toInt < 1) {
            less than a minute
        }else if(Math.ceil("\\s".r.findAllIn(post.content).length/200).toInt == 1){
            1 minute
        }else{
        @Math.ceil("\\s".r.findAllIn(post.content).length/200).toInt minutes
        }<hr>
            <p>@Html(markupService.markdownStringToHTML(post.content.take(250)) match {
                    case Left(_) => "Unable to render content at this time"
                    case Right(s) => s
                }) ...
                <a href="@com.timlah.controllers.routes.HomeController.blogBySlug(post.slug)">Read more...</a>
            </p>
        <br/>
        }
    </div>
}
