@import helper._
@import com.timlah.models.ContactData

@(contactForm: Form[_], enquiryType: Seq[String])(implicit request: MessagesRequestHeader)

@main("Timlah's Techs | Contact") {

    <p>Reach out to me by filling out the contact form below: </p>

    <div class="content">
        @form(action = com.timlah.controllers.routes.HomeController.contactSubmit()) {
        @helper.CSRF.formField
        @contactForm("name").hasErrors match {
            case true => {
                    <dt><label for="name">Name*: </label></dt>
                    <input type="text" name="name" id="name" size="30" class="alert-danger">
                    <dd class="error">This field is required</dd>
                }
            case _    => {
                    <dt><label for="name">Name*: </label></dt>
                    <input type="text" name="name" id="name" size="30">
                }
        }
        @contactForm("email").hasErrors match {
            case true => {
                <dt><label for="email">Email*: </label></dt>
                <input type="text" name="email" id="email" size="30" class="alert-danger">
                <dd class="error">This field is required</dd>
            }
            case _    => {
                <dt><label for="email">Email*: </label></dt>
                <input type="text" name="email" id="email" size="30">
            }
        }
        @select(
            contactForm("enquiry"),
            enquiryType.toList.map(enquiry => (enquiry, enquiry)).reverse,
            Symbol("_label") -> "Reason for enquiry: ",
            Symbol("id") -> "enquiryType"
        )
        <dt><label for="subject">Subject:   </label></dt><input type="text" name="subject" id="subject" size="30">
        @contactForm("contents").hasErrors match {
        case true => {
                    <dt><label for="contents">Contents*: </label></dt>
                    <textarea name="contents" id="contents" rows="5" cols="60" class="alert-danger"></textarea><br>
                    <dd class="error">This field is required</dd>
                }
            case _ => {
                    <dt><label for="contents">Contents*: </label></dt>
                    <textarea name="contents" id="contents" rows="5" cols="60"></textarea><br>
                }
        }
        <button type="submit">Submit</button>
    }
    </div>
}
