@()(implicit flash: Flash)

@main("Timlah's Techs", None) {
<!-- Flashed messages -->
@if(!flash.get("success").isEmpty) {
<div id="flashed-messages">
  <dl class="bg-success" id="flash-success">
    @flash.get("success")
  </dl>
</div>
}
@if(!flash.get("fail").isEmpty) {
<div id="flashed-messages-fail">
  <dl class="bg-danger" id="flash-success-fail">
    @flash.get("fail")
  </dl>
</div>
}
<div class="container" style="margin-top: 20%;">
<h5>Hey, my name is </h5>
  <h1 class="index-large">Tim Fothergill</h1>
  <h2 class="index-medium">I'm an Infrastructure Engineer from Chepstow, UK</h2>
  <p class="index-paragraph">My focus is on how code makes us feel.</p>
</div>
}
