@()(implicit flash: Flash)

@main("Timlah's Techs", None) {
<!-- Flashed messages -->
@if(!flash.get("success").isEmpty) {
<div id="flashed-messages">
  <dl class="bg-success" id="flash-success">
    @flash.get("success")
  </dl>
</div>
}
@if(!flash.get("fail").isEmpty) {
<div id="flashed-messages-fail">
  <dl class="bg-danger" id="flash-success-fail">
    @flash.get("fail")
  </dl>
</div>
}
<div class="content shadows" style="margin-top: 10%;">
<h5>Hey, I'm </h5>
  <h1 class="index-large">Timlah</h1>
  <h2 class="index-medium">I'm an Infrastructure Engineer from Chepstow, UK</h2>
  <p class="index-paragraph" id="index-random-sequence"></p>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      randomMessage();
    });
  </script>
</div>
}
