@import com.timlah.models.Project
@(currentProjects: Seq[Project], closedProjects: Seq[Project])

@main("Projects | Timlah's Techs", None) {
<h2>Projects</h2>
<p>This is a non-exhaustive list of projects I've worked on: </p>
<div class="accordion" data-bs-theme="dark">
@defining(currentProjects ++ closedProjects){ projects =>
    @projects.zipWithIndex.map{case (project, i) =>
        @if(i == 0) {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@i">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse@i" aria-expanded="true"
                        aria-controls="collapse@i">
                    <div style="margin-right:1em;">@for(icon <- project.projectTypes) {@icon.asIcon}</div> @project.title
                </button>
            </h2>
            <div id="collapse@i" class="accordion-collapse collapse show"
                 aria-labelledby="heading@i">
                <div class="accordion-body">
                    @project.description<br>
                    <a href="@project.url">Click here for @project.title</a>
                </div>
                <div class="accordion-body">
                    Project Type: @for(icon <- project.projectTypes) {@icon.asString @icon.asIcon <br>}
                    Last Updated: @project.lastUpdated.day/@project.lastUpdated.month/@project.lastUpdated.year
                </div>
            </div>
        </div>
        }else{
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@i">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse@i" aria-expanded="true"
                        aria-controls="collapse@i">
                    <div style="margin-right:1em;">@for(icon <- project.projectTypes) {@icon.asIcon}</div> @project.title
                </button>
            </h2>
            <div id="collapse@i" class="accordion-collapse collapse"
                 aria-labelledby="heading@i">
                <div class="accordion-body">
                    @project.description<br>
                    <a href="@project.url">Click here for @project.title</a>
                </div>
                <div class="accordion-body">
                    Project Type: @for(icon <- project.projectTypes) {@icon.asString @icon.asIcon <br>}
                    Final Update: @project.lastUpdated.day/@project.lastUpdated.month/@project.lastUpdated.year
                </div>
            </div>
        </div>
            }
        }
    </div>
</div>
    }
}