@import helper._
@import com.timlah.services.minigames.WordGameService
@import com.timlah.services.minigames.WordGameFormData

@(wordGameFormData: Form[_], minigameWordGameService: WordGameService)(implicit request: MessagesRequestHeader, flash: Flash)

@main("Word-Up | Timlah's Techs", None) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wordup.css")">

  @if(flash.get("success").isDefined) {
      <div id="flashed-messages">
        <dl class="bg-success" id="flash-success">
          @flash.get("success")
        </dl>
      </div>
  }

  @helper.form(action = com.timlah.controllers.routes.HomeController.continueWordGame(), 'method -> "POST") {
    @helper.CSRF.formField
    <div class="content shadows">
      <h1>Word-Up</h1>
      <p>This is a basic clone of a famous word game. Type your guess in the box, hit the Submit button, or hit Enter on the keyboard.</p>

      @if(flash.get("success").isDefined){
        <p class="winning-message">Congratulations</p>
        <p class="wordup-stats">The correct word was @minigameWordGameService.SelectedWord</p>
        <p class="wordup-stats">Turns taken: @minigameWordGameService.guessedWordObjects.length turns</p>
        <p class="wordup-stats">See you tomorrow, or play another game</p><br>
      }else{
      <div role="presentation">
      @for(word <- minigameWordGameService.guessedWordObjects) {
        <div class="wordup-word">
          @for(character <- word.word) {
            @defining(character.status match {
              case 0 => "wordup-char-green"
              case 1 => "wordup-char-yellow"
              case 2 => "wordup-char-grey"
            }) { characterStatusClass =>
              <div class="wordup-character @characterStatusClass">@character.character</div>
            }
          }
      }

        @if(minigameWordGameService.guessedWordObjects.length < 6) {
          @for(_ <- 0 until (6 - minigameWordGameService.guessedWordObjects.length)) {
            <div class="wordup-word">
              <div class="wordup-character wordup-char-grey"></div>
              <div class="wordup-character wordup-char-grey"></div>
              <div class="wordup-character wordup-char-grey"></div>
              <div class="wordup-character wordup-char-grey"></div>
              <div class="wordup-character wordup-char-grey"></div>
            </div>
          }
        }
      }
    </div>
    @if(minigameWordGameService.inProgress) {
      @defining({
        minigameWordGameService.guessedWordObjects.flatMap { word =>
          word.word.collect {
            case char if char.status == 2 => char.character // Adjust condition as needed
          }
        }.toSet
      }) { greyedOutCharacters =>
      
      <aside class="keyboard">
        <div class="keyboard-row">
          @for(char <- "QWERTYUIOP") {
            <button class="keyboard-key @if(greyedOutCharacters.contains(char)) {greyed-out}" id="keyboard-button-@char" type="button">
              @char
            </button>
          }
        </div>
        <div class="keyboard-row">
          @for(char <- "ASDFGHJKL") {
            <button class="keyboard-key @if(greyedOutCharacters.contains(char)) {greyed-out}" id="keyboard-button-@char" type="button">
              @char
            </button>
          }
        </div>
        <div class="keyboard-row">
          @for(char <- "ZXCVBNM") {
            <button class="keyboard-key @if(greyedOutCharacters.contains(char)) {greyed-out}" id="keyboard-button-@char" type="button">
              @char
            </button>
          }
        </div>
      </aside>
    }
    </div>
      <div>
          @wordGameFormData("guess").hasErrors match {
            case true => {
              <dl>
                <dt><label for="guess">Guess the five-letter word:*</label></dt>
                <dd><input type="text" name="guess" id="guess" size="30" class="alert-danger" minlength="5" maxlength="5" placeholder="e.g: HELLO"></dd>
                <dd class="error">This field is required</dd>
              </dl>
            }
            case _ => {
              <dl>
                <dt><label for="guess">Guess the five-letter word:</label></dt>
                <dd><input type="text" name="guess" size="30" minlength="5" maxlength="5" placeholder="e.g: HELLO"></dd>
              </dl>
            }
          }
          <button type="submit">Submit</button>
        }
    }
    
    @if(!minigameWordGameService.inProgress) {
      @helper.form(action = com.timlah.controllers.routes.HomeController.setupNewWordGame(), 'method -> "GET") {
        <input type="submit" value="New word" />
      }
    }
  </div>
}

<script>
  function IsSuccessful() {
    var success = document.getElementById("flash-success");

    if(success) {
      console.log("Success");
      SetCookie(@minigameWordGameService.guessedWordObjects.length);
    }
  }

  function SetCookie(num) {
    const wordupCookieData = {
      isComplete : @if(flash.get("success").isDefined){true}else{false},
      word       : "@if(flash.get("success").isDefined){@minigameWordGameService.SelectedWord}else{UNFINISHEDGAME}",
      turnsTaken : num
    };
    SaveWordupDataToCookie(wordupCookieData);
  }

  function SetStreakCookie() {
    // TODO: Fully implement streak data
    document.cookie = `wordupStreakData=1; path=/; SameSite=Lax`;
  }

  function SaveWordupDataToCookie(data) {
    var midnight = new Date();
    midnight.setHours(23,59,59,0);
    const jsonData = JSON.stringify(data);
    const encodedData = encodeURIComponent(jsonData);
    document.cookie = `wordupData=${encodedData}; path=/; expires=${midnight}; SameSite=Lax`;
  }

  IsSuccessful();
</script>
