@import helper._
@import com.timlah.views.html.main
@import com.timlah.models.BlogPost

@(blogPost: BlogPost, newBlogPostForm: Form[_])(implicit request: MessagesRequestHeader)

<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var easyMDE = new EasyMDE({ 
            element: document.getElementById('content'),
            previewImagesInEditor: true,
            forceSync: true,
            lineNumbers: true,
            sideBySideFullscreen: false,
            renderingConfig: {
            sanitizerFunction: (renderedHTML) => {
                return renderedHTML
                    .replace(/<script.*?>.*?<\/script>/gi, "")  // Remove <script> tags
                    .replace(/on\w+="[^"]*"/gi, "");  // Remove inline event handlers (e.g., onclick)
            },
        },
        });
    });
    document.getElementById()
</script>

@main("Admin New Post | Timlah's Techs", None) {
    <div class="content">
        <h1>Edit Post: @blogPost.title</h1>
        <p>id: @blogPost.id</p>
        @form(action = com.timlah.controllers.routes.AdminController.editBlogPostSubmit(blogPost.id)) {
            @helper.CSRF.formField
            @helper.inputText(newBlogPostForm("title"))
            @helper.inputText(newBlogPostForm("slug"))
            @helper.textarea(newBlogPostForm("content"))
            @helper.inputText(newBlogPostForm("date"))
        <button type="submit">Update</button>
        }
    </div>
}