@import com.timlah.views.html.main
@import com.timlah.components.gallery.html.gallery
@import com.timlah.models.components.ExternalImage

@(images: Seq[ExternalImage] = Seq())
@main("Kitacon 2024 | Timlah's Techs", None) {
    <div class="content">
        This year, I attended <a href="https://www.kitacon.org/" aria-label="External link to Kitacon's website">Kitacon</a>, 
        a not-for-profit, Japanese Anime & Geek Culture Convention. I wanted to provide a way to show off the great work the 
        organisers and attendees alike. Please enjoy this microscopic look at "Con Life".

        <br><br>This gallery isn't yet ready to view; please come back at some point in the next week - 12/08/2024

        @gallery(images)
    </div>
}