@import com.timlah.models.components.buttonpanel._
@import com.timlah.models.components.button._
@import com.timlah.models.components.header.Header
@import com.timlah.components.button.html.StandardButton
@import com.timlah.components.header.html.header

@(params: ButtonPanel)
@import params._
<link rel="stylesheet"  media="screen" href="@routes.Assets.versioned("stylesheets/components/buttonpanel/buttonpanel.css")">
<aside class="buttonpanel @additionalClasses" @if(ariaLabel != ""){aria-label="@ariaLabel"}>
    @if(label.nonEmpty) { @header(Header(
        headerLevel = Some(5),
        text = label.getOrElse("Missing information")
    )) }
    @for(button <- buttons) {
        @StandardButton(button)
    }
</aside>
