@import com.timlah.models.components.button._

@(params: Button)
@import params._
@url match {
    case Left(link) => {
        @if(link != "") {
            <a href="@link">
        }
    }
    case Right(call) => {
        @if(call != "") {
            <a href="@call">
        }
    }
}
<button 
    class="standard-component-button @additionalClasses" 
    @if(id.nonEmpty){id="@id"}
    @if(ariaLabel != ""){aria-label="@ariaLabel"} 
    @if(jsScript.nonEmpty){onClick="@jsScript"}
>
@if(icon.nonEmpty) {
    @icon.get.asIcon
}
    @text
</button>
@url match {
    case Left(link) => { @if(link != "") { </a> } }
    case Right(call) => { @if(call != "") { </a> } }
}
